.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-width: 300px;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
