.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 70px;
}

.search-form::after {
  content: "";
  position: absolute;
  top: 292px;
  left: 50%;
  width: calc(100% - 140px);
  height: 1px;
  background-color: #E8E8E8;
  transform: translate(-50%, -50%);
}

.search-form__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 79px;
  gap: 10px;
  width: 100%;
}

.search-form__label {
  position: relative;
  width: 100%;
  padding-right: 20px;
}

.search-form__input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background: #F9F9F9;
  border: none;
  border-radius: 8px;
}

.search-form__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: #A0A0A0;
}

.search-form__input:focus-visible {
  outline: 2px solid #000;
}

.search-form__error-text {
  position: absolute;
  top: 58px;
  left: 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #EE3465;
}



.search-form__submit {
  width: 44px;
  height: 44px;
  margin: 1px 0 0 ;
  padding: 0;
  background: #FF6838 url('../../images/search.svg') no-repeat center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  flex-shrink: 0;
  transition: opacity .3s ease-in-out;
}

.search-form__submit:hover {
  opacity: 0.8;
}

.search-form__submit:active {
  background-color: #ff5722;
  transform: scale(0.95);
}

.search-form__submit:focus-visible {
  outline: 2px solid #000;
}

.search-form__checkbox-container {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  margin-top: 29px;
  gap: 12px;
}

.search-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  outline: none;
}

.search-form__checkbox-indicator {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: grey;
  transition: background-color 0.2s ease-in-out, opacity 0.3s ease-in-out;
  border: none;
  border-radius: 12.5px;
  outline: none;
  cursor: pointer;
}

.search-form__checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border: none;
  border-radius: 50%;
  transition: transform .3s;
}

.search-form__checkbox-indicator:hover {
  opacity: 0.8;
}

.search-form__checkbox:checked+.search-form__checkbox-indicator {
  background-color: #2BE080;
}

.search-form__checkbox:checked+.search-form__checkbox-indicator::before {
  transform: translateX(16px);
}

.search-form__checkbox:disabled+.search-form__checkbox-indicator {
  background-color: #FFF;
}

.search-form__checkbox:focus-visible+.search-form__checkbox-indicator {
  outline: 2px solid #000;
}


@media screen and (max-width: 1279px) {
  .search-form {
    padding: 0 30px;
  }

  .search-form::after {
    top: 304px;
    width: calc(100% - 60px);
  }

  .search-form__checkbox-container {
    margin-top: 41px;
  }
}


@media screen and (max-width: 767px) {
  .search-form {
    padding: 0 14px;
  }

  .search-form::after {
    width: calc(100% - 30px);
  }

  .search-form__input {
    height: 44px;
    padding: 0 0 0 13px;
  }

  .search-form__checkbox-container {
    margin-top: 46px;
    font-size: 11px;
    gap: 13px;
  }
}