.saved-movies {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 86px;
}

@media screen and (max-width: 1279px) {
  .saved-movies {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    margin-bottom: 76px;
  }
}