.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 400px;
  padding: 30px;
  box-sizing: border-box;
}

.not-found-page__title {
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #000;
  margin-top: 186px;}

.not-found-page__text {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #000;
  margin-top: 5px;
}

.not-found-page__link {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  color: #FF6838;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  transition: opacity .3s ease-in-out;
  margin-top: 183px;
}

.not-found-page__link:hover {
  opacity: .6;
}

@media screen and (max-width: 1279) {
  .not-found-page__title {
    margin-top: 186px;
  }
}

@media screen and (max-width: 767px) {
  .not-found-page {
    height: 100%;
    padding-top: 328px;
  }

  .not-found-page__title {
    font-size: 80px;
    margin-top: 0;
  }

  .not-found-page__text {
    margin-top: 10px;
    font-size: 12px;
  }

  .not-found-page__link {
    margin-top: 284px;
    font-size: 12px;
  }
}